@font-face {
  font-family: "Gilroy-Regular";
  src: url(../assets/font/Gilroy-Regular.ttf)
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../assets/font/Gilory-Semi-Bold.ttf)
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(../assets/font/Gilroy-Medium.ttf)
    format("truetype");
  font-weight: 500;
}

.checkout-review {
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 169.3%;
  font-weight: 500;
  color: #000000;
  position: relative;
}

.checkout-review .ex-link {
  text-decoration-line: underline;
}

.checkout-review .checkout-subtitle {
  font-family: 'Gilroy-SemiBold';
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  margin-bottom: 17px;
}

.checkout-review .checkout-description {
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 137.8%;
  color: #3F3F3F;
  margin: 0;
  margin-bottom: 22px;
}

.checkout-review .brief-box {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 13px 15px;
  margin-bottom: 16px;
}

.checkout-review .brief-box .brief-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.checkout-review .brief-box .brief-header .brief-title {
  font-family: 'Gilroy-SemiBold';
  font-size: 16px;
  line-height: 137.8%;
  color: #000000;
  font-weight: 600;
}

.checkout-review .brief-box .brief-header .brief-edit {
  font-family: 'Gilroy-SemiBold';
  font-size: 14px;
  line-height: 137.8%;
  text-decoration-line: underline;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
}

.checkout-review .brief-box .brief-info {
  display: flex;
  margin-bottom: 2px;
}

.checkout-review .brief-box .brief-info .brief-label {
  color: #3F3F3F;
  margin-right: 10px;
}

.checkout-review .brief-box .brief-info .brief-card-label {
  display: flex;
  align-items: center;
}

.checkout-review .brief-box .brief-info .brief-card-label img {
  height: 20px;
}

.checkout-review .brief-box .brief-info .brief-card-label div:nth-child(2) {
  line-height: 28px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
  color: #3F3F3F;
}

.checkout-review .brief-box .brief-info .brief-card-label div:nth-child(3) {
  height: 20px;
  color: #3F3F3F;
}

.checkout-review .brief-box .brief-info .brief-card-exp {
  color: #3F3F3F;
}

.checkout-review .brief-box .brief-bottom {
  text-align: center;
  margin-top: 4px;
}

.checkout-review .brief-box .brief-bottom .ex-link {
  color: #3F3F3F;
}

@media only screen and (max-width: 768px) {

}