@font-face {
  font-family: "Gilroy-Regular";
  src: url(../assets/font/Gilroy-Regular.ttf)
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../assets/font/Gilory-Semi-Bold.ttf)
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(../assets/font/Gilroy-Medium.ttf)
    format("truetype");
  font-weight: 500;
}

.main-app {
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 169.3%;
  font-weight: 500;
  color: #000000;
  position: relative;
}

@media only screen and (max-width: 768px) {

}