@font-face {
  font-family: "Gilroy-Regular";
  src: url(../assets/font/Gilroy-Regular.ttf)
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(../assets/font/Gilroy-Medium.ttf)
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../assets/font/Gilory-Semi-Bold.ttf)
    format("truetype");
  font-weight: 600;
}

.line-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 137.8%;
}

.line-progress .point-line {
  width: 110px;
}

.line-progress .point-line.group {
  width: calc((100% - 98px) / 2);
  display: flex;
  align-items: center;
}

.line-progress .point-line .point-box {
  width: 110px;
  height: 55px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-progress .point-line:nth-child(3),
.line-progress .point-line:nth-child(3) .point-box {
  width: 98px;
}

.line-progress .point-line .point-box .label {
  font-family: 'Gilroy-SemiBold';
  font-size: 14px;
  line-height: 137.8%;
  margin-left: 5px;
}

.line-progress .point-line .point-box .point {
  width: 30px;
  height: 30px;
  background: #000000;
  border-radius: 38px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-progress .point-line .bar {
  height: 0px;
  border: solid 0.5px black;
  width: calc(100% - 110px);
  margin: 0px 0.5%;
}

.line-progress .inactive {
  border-color: #929292 !important;
  background-color: #929292 !important;
}

.line-progress .inactive-font {
  color: #929292 !important;
}

/* @media only screen and (max-width: 1200px) {

} */




