@font-face {
  font-family: "Gilroy-Bold";
  src: url(../assets/font/Gilroy-Bold.ttf)
    format("truetype");
  font-weight: 600;
}

.btn {
  font-family: 'Gilroy-Bold';
  font-weight: 600;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gilroy-Bold';
  font-size: 14px;
  line-height: 137.8%;
}
.btn-primary {
  color: white;
  background: #151515;
}
.btn-secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.btn-small {
  padding: 10px 16px;
}
.btn-medium {
  padding: 11px 20px;
}
.btn-large {
  padding: 14px 24px;
}
