@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../assets/font/Gilory-Semi-Bold.ttf)
    format("truetype");
  font-weight: 600;
}

header {
  margin-bottom: 18px;
}

header h3 {
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  font-family: 'Gilroy-SemiBold'; 
  margin: 13px 0px;
}

header svg {
  cursor: pointer;
}
